body {
  text-align: center;
  background: radial-gradient(circle at center, #022a55 0%, #011F3F 100%);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

#level-title {
 font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
  color: #FEF2BF;
  text-shadow: 2px 2px #000, 0 0 5px rgba(254, 242, 191, 0.5); 
  margin-bottom: 40px;
  line-height: 1.5;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.row {
  display: flex;
  gap: 20px;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border-radius: 20%;
  border: 3px solid rgba(255, 255, 255, 0.1);
}

body.game-over {
  background: #7f0000 !important;
  opacity: 0.8;
  animation: flash 0.2s infinite;
}

.red {
    background-color: red; 
    box-shadow: 0 0 15px #e74c3c;
}

.green {
  background-color: green; 
  box-shadow: 0 0 15px #2ecc71;
  
}

.blue {
  background-color: blue; 
  box-shadow: 0 0 15px #3498db;
}

.yellow {
   background-color: yellow; 
   box-shadow: 0 0 15px #f1c40f;
}

.pressed {
  transform: scale(0.95);
  box-shadow: 0 0 50px white;
  filter: brightness(1.5);
  background-color: white !important;
}

.btn:hover {
  transform: translateY(-4px);
  filter: brightness(1.1);
}

@keyframes flash {
  from { background-color: #7f0000; }
  to { background-color: #ff0000; }
}
